.white {
  background-color: white;
}
#ajax_msg {
  border-radius: 2px;
  bottom: 0;
  display: none;
  position: fixed;
  right: 0;
  text-align: center;
  width: 300px;
  z-index: 1;
}
.editable {
  cursor: pointer;
}
.editable:hover {
  background-color: lightyellow;
  background-size: 100%;
}
